<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>Phones</h1>

<table>
 
  <tbody>
    <% @phones.each do |phone| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
        <td style="text-align: center;">
            <% if phone.image.attached? %>
                <%= image_tag phone.image, class="list_image" %>
                <img src = "<%= (url_for(phone.image)) %>", class="list_image">
            <% end %>
        </td>
        <td>
            <b style="font-size: 16px;">Name: <i><%= phone.name %></i></b><br><br>
            <b>Ram(in GB):</b> <%= phone.ram %><br><br>
            <b>Display(in inches):</b> <%= phone.display %><br><br>
            <b>Price:</b> $<%= phone.price %>
        </td>
        <td>
            <br><br>
            <b>Memory(in GB):</b> <%= phone.memory %><br><br>
            <b>Front Camera:</b> <%= phone.front_camera %><br><br>
        </td>
        <td>
            <br><br>
            <b>Processor:</b> <%= phone.processor %><br><br>
            <b>Rear Camera:</b> <%= phone.back_camera %><br><br>
        </td>
        <td class="list_actions">
            <br>
            <%= link_to 'Show', phone %><br><br>
            <%= link_to 'Edit', edit_phone_path(phone) %><br><br>
            <%= link_to 'Destroy', phone, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone', new_phone_path %>
