<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phone.name %>
</p>

<p>
  <strong>Display(in Inches):</strong>
  <%= @phone.display %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @phone.ram %>
</p>

<p>
  <strong>Memory:</strong>
  <%= @phone.memory %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @phone.processor %>
</p>

<p>
  <strong>Front Camera:</strong>
  <%= @phone.front_camera %>
</p>

<p>
  <strong>Back Camera:</strong>
  <%= @phone.back_camera %>
</p>

<p>
  <strong>Price:</strong>
  <%= @phone.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @phone.image %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
